.grid.homepage
  %h2 Find workout plans that suit you
  .col.col-1-of-2.both-gutter
    %h3
      People looking to get fit
    %p
      Create a profile and enter your goals and requirements and be matched with a workout plan that suits you. Find gyms around you to start your fitness journey.

    =image_tag "fitness.jpg"  
  .col.col-1-of-2.both-gutter
    %h3
      Personal Trainers
    %p
      Create workout plans to cater to varying clients. Help to boost your online presence and build a name for yourself as a true fitness expert.

    =image_tag "personaltrainer.jpg"

  =link_to "Register", new_customer_registration_path