.exercise-list {
  ol {
    text-align: left;
    font-size: 1.3rem;
    margin-top: 20px;
    li{
      border: 1px solid black;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
    }
  }

}