.page-header {
  text-align: center;
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.link-headers {
  margin-top: 10px;
  color: black;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.exercise {
  height: 50px;
  font-size: 1.5rem;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 3px;
  transition-duration: 0.5s;
  font-family: 'Yanone Kaffeesatz', sans-serif;

  h3, h4, h5 {
    margin-top: 10px;
    color: black;
  }
}

.exercise:hover {
  background-color: #8AA6E5;
}