.postcode-query {
  margin-top: 20px;
  font-size: 1.5rem;
  input {
    font-size: 1.3rem;
  }
  button {
  display: block;
  text-align: center;
  margin-left: 45%;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: #006299;
  border: none;
  color: white;
  margin-top: 20px;
}
}

.map {
  margin-top: 50px;
}