main {
  min-height: calc(100vh - 80px);
}

footer {
  position:absolute;
  width: 100%;
  background-color: #006699;
  text-align: center;
  height: 40px;
  display: inline-block;
  p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5rem;
    margin-top: 10px;
    color: white;
  }
}