.trainer-profile {
  font-size: 1.6rem;

  dl {
    dd{
      display: inline-block;
      width: 50%;
      text-align: left;
      margin-top: 20px;
    }
    dt{
      display: inline-block;
      width: 50%;
      vertical-align: top;
      text-align: left;
      margin-top: 20px;
    }
  }
}

.workout-partial {
  font-size: 1.6rem;
  border-bottom: 2px solid black;

  dd{
    display: inline-block;
    width: 50%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  dt{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  a {
    display: block;
    margin-bottom: 10px;
  }
}


.workout-partial:last-child {
  border: 0;
}

.create-workout {
  font-size: 1.6rem;
  margin-top: 20px;
  a {
    display: block;
    margin-top: 30px;
  }
}