.trainer-profile {
  font-size: 1.6rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;

  dl {
    dd{
      display: inline-block;
      width: 50%;
      text-align: left;
      margin-top: 20px;
    }
    dt{
      display: inline-block;
      width: 50%;
      vertical-align: top;
      text-align: left;
      margin-top: 20px;
    }
  }
}

.create-workout {
  font-size: 1.6rem;
  margin-top: 20px;
  a {
    display: block;
    margin-top: 30px;
  }
}