.workout-page {
  font-size: 1.8rem;

  h3 h4{
    font-size: 2rem;
  }

  h3, h4, h5 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h5 {
    text-align: left;
  }

  .day-workout-page {
    text-align: left;
  }
}