.day-workout-list {
  ol {
    text-align: left;
    font-size: 1.3rem;
    margin-top: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    height: 800px;
    overflow: scroll;
    li{
      border: 1px solid black;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      cursor: pointer;
      background-color: white;
    }

    li:hover{
     background-color: #07ABFB; 
    }
  }

}

.workout-form-label{
  font-size: 1.5rem;
  margin-right: 10px; 
}

.workout-form {
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.workout-form-item {
  font-size: 1.5rem;
  display: inline-block;
  text-align: left;
  width: 75%;
  border: 1px solid black;
  padding: 20px;
}

.form-button {
  display: block;
  text-align: center;
  margin-left: 50%;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: #006299;
  border: none;
  color: white;
  margin-top: 20px;
}