= link_to exercise_path(exercise.id) do
  .exercise
    %h3.col.col-1-of-3.both-gutter
      = exercise.name
    %h4.col.col-1-of-3.both-gutter
      = exercise.muscle_group
    %h5.col.col-1-of-3.both-gutter
      = exercise.category